.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-container {
  width: 100%;
  overflow: scroll;
}

.error {
    color: firebrick;
}

.loading {
    color: royalblue;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.2
    }
    100% {
        opacity: 1
    }
}
